[Unit]
Description=Webapp
After=network.target

[Service]
Type=forking

User=app
Group=app

Environment="JAVA_HOME=/usr/java/latest"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE=/opt/app/tomcat"
Environment="CATALINA_HOME=/opt/app/tomcat"
Environment="CATALINA_PID=/opt/app/tomcat/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC -Dhibernate.search.default.indexBase=/opt/app/tomcat/"

ExecStart=/opt/app/tomcat/bin/update.sh
ExecStop=/opt/app/tomcat/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
